.coments_container {
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
    margin-top: 150px;

    

    .coments_body {
        margin-top: 80px;

        .coments_btns_box {
            width: 100%;
            display: flex;
            justify-content: center;
            padding: 60px 20px;

            button {
                padding: 30px;
                border: none;
                margin: 0px 20px;
            }
        }

    }

    @media (max-width: 640px) {
        padding-left: 5%;
        padding-right: 5%;

        .coment_card {
            padding: 20px;
        }
    }
}