.shopPreview_container {
    width: 100%;
    margin-top: 7rem;

}

.shopPreview_box {
    width: 100%;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 50px;
    padding-top: 50px;

    .s_title {
        margin-bottom: 50px;

        h3 {
            font-family: 'libre-baskerville';
            font-size: clamp(2rem, 4vw, 5rem);
            text-align: center;
            text-transform: uppercase;
        }
    }

    .s_body {
        width: 100%;
    }
}

.see_more_card{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

    a{
        font-size: 18px;
        letter-spacing: 2px;
        text-transform: uppercase;
        display: inline-block;
        text-align: center;
        font-weight: bold;
        padding: 0.7em 2em;
        border: 3px solid #FF0072;
        border-radius: 2px;
        position: relative;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
        color: #FF0072;
        text-decoration: none;
        transition: 0.3s ease all;
        z-index: 1;

        &:before {
            transition: 0.5s all ease;
            position: absolute;
            top: 0;
            left: 50%;
            right: 50%;
            bottom: 0;
            opacity: 0;
            content: '';
            background-color: #FF0072;
            z-index: -1;
        }

        &:hover, &:focus {
            color: white;
        }

        &:hover:before, &:focus:before {
            transition: 0.5s all ease;
            left: 0;
            right: 0;
            opacity: 1;
        }

        &:active {
            transform: scale(0.9);
        }
    }
}